VAITP GUI/vaitp/vaitp_python_venv
VAITP GUI/vaitp/vaitp_venv
VAITP GUI/vaitp/vaitp/lineicons-free-basic-3.0
VAITP GUI/build-vaitp-Desktop_Qt_5_12_12_MinGW_64_bit-Debug
VAITP GUI/vaitp/py/scrappers/cvelistV5-main
VAITP GUI/vaitp/py/scrappers/__pycache__
VAITP GUI/vaitp/py/scrappers/nvd_nist_gov.json
VAITP GUI/vaitp/build
VAITP GUI/vaitp/py/agents/setEnvVars.sh
VAITP/VAITP GUI/vaitp/tf_logs/20241216-105519/train/events.out.tfevents.1734346520.Frederics-MacBook-Pro.local.56560.0.v2
VAITP/VAITP GUI/vaitp/tf_logs/20241216-105519/validation/events.out.tfevents.1734346520.Frederics-MacBook-Pro.local.56560.1.v2
VAITP/VAITP GUI/vaitp/tf_logs/20241216-120737/train/events.out.tfevents.1734350857.Frederics-MacBook-Pro.local.63752.0.v2
VAITP/VAITP GUI/vaitp/tf_logs/20241216-120737/validation/events.out.tfevents.1734350858.Frederics-MacBook-Pro.local.63752.1.v2
VAITP/VAITP GUI/vaitp/tf_logs/20241216-121035/train/events.out.tfevents.1734351035.Frederics-MacBook-Pro.local.64072.0.v2
VAITP/VAITP GUI/vaitp/tf_logs/20241216-121035/validation/events.out.tfevents.1734351036.Frederics-MacBook-Pro.local.64072.1.v2
VAITP/VAITP GUI/vaitp/tf_logs/20241216-121158/train/events.out.tfevents.1734351119.Frederics-MacBook-Pro.local.64248.0.v2
VAITP/VAITP GUI/vaitp/tf_logs/20241216-121158/validation/events.out.tfevents.1734351119.Frederics-MacBook-Pro.local.64248.1.v2
VAITP GUI/vaitp/old_vaitp_dataset_ast
VAITP GUI/vaitp/py/agents/hymba15b.py
VAITP GUI/vaitp/py/agents/llama32_1b.py
VAITP GUI/vaitp/py/agents/llama32_7b_python.py
VAITP GUI/vaitp/py/agents/qwen_coder_32b.py
VAITP GUI/vaitp/py/agents/run_agents.sh
VAITP GUI/vaitp/py/agents/send_mail.py
VAITP GUI/vaitp/py/API/DEPRECATED_vaitp_vulnerability_info_api_blackbox.py
VAITP GUI/vaitp/py/API/hymba15b.py
VAITP GUI/vaitp/py/API/llama32_1b.py
VAITP GUI/vaitp/py/API/llama32_7b_python.py
VAITP GUI/vaitp/py/API/qwen_coder_32b.py
VAITP GUI/vaitp/py/API/run_agents.sh
VAITP GUI/vaitp/py/API/send_mail.py
VAITP GUI/vaitp/py/API/setEnvVars.sh
VAITP GUI/vaitp/py/scrappers/DISCONTINUED_VAITPcodeScrapper.py
VAITP GUI/vaitp/py/scrappers/send_mail.py
VAITP GUI/vaitp/py/work_utils/TEST_convert_to_AST2.py
