VAITP GUI/vaitp/vaitp_python_venv
VAITP GUI/vaitp/vaitp_venv
VAITP GUI/vaitp/vaitp/lineicons-free-basic-3.0
VAITP GUI/build-vaitp-Desktop_Qt_5_12_12_MinGW_64_bit-Debug
VAITP GUI/vaitp/py/scrappers
VAITP GUI/vaitp/build
VAITP GUI/vaitp/old_vaitp_dataset_ast
VAITP GUI/vaitp/py/agents
VAITP GUI/vaitp/py/work_utils/TEST_convert_to_AST2.py
VAITP/VAITP GUI/vaitp/tf_logs/
VAITP GUI/vaitp/exported_ai_models/DiscontinuedModels/
VAITP GUI/vaitp/.DS_Store
VAITP GUI/vaitp/vaitp_dataset/.DS_Store
VAITP GUI/vaitp/vaitp_dataset/train/.DS_Store
VAITP GUI/vaitp/vaitp_dataset/train/vaitp_dataset.zip
VAITP GUI/vaitp/py/API/
.vscode
VAITP GUI/vaitp/py/models
VAITP GUI/vaitp/py/work_utils/correct_dataset.py
VAITP GUI/vaitp/py/work_utils/prompt_response_dataset.json_old
VAITP GUI/vaitp/py/work_utils/split_dataset.py
VAITP GUI/vaitp/py/work_utils/test_flux.py
VAITP GUI/vaitp/py/work_utils/training_dataset.json
VAITP GUI/vaitp/py/work_utils/validate_dataset.py
VAITP GUI/vaitp/py/work_utils/vulnerability_scraper.py
VAITP GUI/vaitp/py/work_utils/dataset_parts/
